<!DOCTYPE html>
<html>
    <head>
        <title>Flavor Fusion-User Profile</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <p>username:<%=  %></p>
        <p>emailid:<%=  %></p>
        <button><a href="">Logout</a></button>
    </body>
</html>